{% extends "base.html" %}
{% block body %}
<div class="container">
	<div class="p-3 mb-2 bg-primary text-white">
		<p class="h4">사건검색</p>
	</div>
	<br>
	<form method="post">
		<div class="form-group row">
			<!-- 법원 선택-->
			<div class="col-sm-3">
				<select name="sch_bub_nm" class="form-control">
					{% for sch_bub_nm in sch_bub_nm_list %}
					<option value="{{sch_bub_nm[0]}}">{{sch_bub_nm[1]}}</option>
					{% endfor %}
				</select>
			</div>
			<!-- 연도 -->
			<div class="col-sm-2">
				<input type="text" class='form-control' name='sel_sa_year' placeholder='연도'>
			</div>
			<!-- 사건구분 -->
			<div class="col-sm-2">
				<select name="sa_gubun" class="form-control">
					{% for sa_gubun in sa_gubun_list %}
					<option value="000220">{{sa_gubun[1]}}</option>
					<!--<option value="{{sa_gubun[0]}}">{{sa_gubun[1]}}</option>-->
					{% endfor %}
				</select>
			</div>
			<!-- 사건번호 -->
			<div class="col-sm-3">
				<input type="text" class='form-control' name='sa_serial' placeholder='사건번호'>
			</div>
			<!-- 당사자명 -->
			<div class="col-sm-2">
				<input type="text" class='form-control' name='ds_nm' placeholder='당사자명'>
			</div>
		</div>
		<div class="form-group row">
			<!-- 캡챠 -->
			<div class="col-sm-2">
				<img src="/static/captcha.png?{{force_refresh}}" + class="img-fluid" alt="captcha image">
			</div>
			<!-- 자동입력방지문자 -->
			<div class="col-sm-10">
				<input type="text" class='form-control' name='answer' placeholder='자동입력방지문자'>
			</div>
		</div>
		<div class="form-group row">
			<!-- 검색 -->
			<div class="col-sm-2">
				<button type="submit" class="btn btn-primary">검색</button>
			</div>
		</div>
	</form>
	<div>
		{% endblock %}


<!--
sch_bub_nm     	대법원	-> 00020
sel_sa_year	2019	
sa_gubun	다	-> hs
sa_serial	91015
ds_nm		김기웅
answer		592396
-->
